server {
    listen 9443 ssl;
    server_name _;
    access_log /var/log/nginx/host.access.log proxy_format;
    ssl_certificate /etc/nginx/cert/cert.pem;
    ssl_certificate_key /etc/nginx/cert/key.pem;
    location ~* \.(js|css|png|jpg|ico|svg|woff|woff2|ttf|wor)$ {
        proxy_pass http://localhost:3001;
    }
    
    location ~ /(socket.io|api)/ {
        proxy_pass http://localhost:3001;
        
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
    }

    location /app {
        # proxy_pass http://uptime:3001/status;
        add_header Content-Type text/html;
        return 200 '
            <style>body,html{margin:0;overflow:hidden;height:100%}</style>
            <iframe src="/status/app" frameborder="0" style="width:100%;height:100vh;border:none">
        ';
    }

    location /status/app {
        proxy_pass http://localhost:3001;
    }
    
    location / {
        return 301 /app;
    }
}