server {
    listen 9443 ssl;
    server_name _;
    access_log /var/log/nginx/host.access.log proxy_format;
    ssl_certificate /etc/nginx/cert/cert.pem;
    ssl_certificate_key /etc/nginx/cert/key.pem;
    location ~* \.(js|css|png|jpg|ico|svg|woff|woff2|ttf|wor)$ {
        proxy_pass http://localhost:3001;
    }
    
    location ~ /(socket.io|api)/ {
        proxy_pass http://localhost:3001;
        
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
    }
    
    location /status/app {
        proxy_pass http://localhost:3001;
    }
    
    location / {
        return 301 /status/app;
    }
}
